* {
    box-sizing: border-box;
}

:root {
    --clr-dark: #2e2e2e;
    --clr-light: #fafafa;

    --clr-bg: var(--clr-dark);
    --clr-text: var(--clr-light);
}

body {
    background-color: var(--clr-bg);

    color: var(--clr-text);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}